{
  "plugins": ["react-native", "react-hooks"],
  "env": {
    "react-native/react-native": true
  }, 
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn" // <--- THIS IS THE NEW RULE
  }
}
